<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Students CD.MX. Laboratoria</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
    <nav id="navegation-local">
      <ul class="menu-left">
        <li class="li-left logo-laboratoria"><a href="C:\Users\Invitado Laboratoria\Documents\Laboratoria\Producto_Final_2do_Sprint_LaboratoriaDataDasboard\index.html"><img class="logo-laboratoria" src="C:\Users\Invitado Laboratoria\Documents\Laboratoria\Producto_Final_2do_Sprint_LaboratoriaDataDasboard\ASSETS\IMAGES\logoLab.png" alt="Logo Laboratoria"></a></li>
        <li class="li-left form-search-student"><form class="li-left" action="index.html" method="post"><input class="search-student" type="search" name="by-student" placeholder="Search Student"></form>
          <ul class="li-left one-by-one-student">
            <li class="li-left search-one-student"><a href="#"><img src="http://dummyimage.com/30x30" alt="Search"></a></li>
        </li>
        <li class="li-left separator"> | </li>
        <li class="li-left search-by-cede"><a href="#"><img src="http://dummyimage.com/30x30" alt="More"></a>
          <ul class="search-student-cede">
            <li class="students-cede-cdmx"><a href="..\students-cdmx\studentscdmx.html">CDMX</a></li>
            <li class="students-cede-gdj"><a href="..\students-gdj\student-gdj.html">GDJ</a></li>
            <li class="students-cede-lima"><a href="..\students-lima\students-lima.html">LIMA</a></li>
            <li class="students-cede-arequipa"><a href="..\students-arequipa\students-arequipa.html">AREQUIPA</a></li>
            <li class="students-cede-santiago"><a href="..\students-santiago\students-santiago.html">SANTIAGO</a></li>
          </ul>
        </li>
      </ul>
      </nav>
      <nav id="navegation-local">
        <ul class="menu-right">
          <li class="li-right user"><div class="photo-user"><a href="#"><img src="C:\Users\Invitado Laboratoria\Documents\Laboratoria\Producto_Final_2do_Sprint_LaboratoriaDataDasboard\ASSETS\IMAGES\usuario-prueba.jpg" alt="user-photo"></a></div>
          <ul class="user-open-close-session">
            <li><a href="#">Login</a></li>
            <li><a href="#">Close Session</a></li>
          </ul></li>
          <li class="li-right separator">|</li>
          <li class="li-right separator">|</li>
          <li class="li-right less-student"><a href="#"><img src="http://dummyimage.com/30x30" alt="-Student"></a>
            <ul class="less-student-option">
              <li class="input-add-student-style"><div class="box-less-student">
                <form class="less-student-input" action="index.html" method="post">
                <input class="input-style-name" type="text" name="name-student-less" placeholder="Name Student">
                <label for="add-cdmx">CD.MX.</label>
                <input type="radio" name="add" value="add-to-cdmx">
                <span class="separator">|</span>
                <label for="add-gdj">Guadalajara</label>
                <input type="radio" name="add" value="add-to-gsj">
                <span class="separator">|</span>
                <label for="add-lima">Lima</label>
                <input type="radio" name="add" value="add-to-lima">
                <span class="separator">|</span>
                <label for="add-arequipa">Arequipa</label>
                <input type="radio" name="add" value="add-to-arequipa">
                <span class="separator">|</span>
                <label for="add-santiago">Santiago</label>
                <input type="radio" name="add" value="add-to-santiago">
                <hr>
                <label for="turn-morning">Morning</label>
                <input type="radio" name="turn-morning-option" value="turn-morning">
                <samp class="separator">|</samp>
                <label for="turn-evening">Evening/label>
                <input type="radio" name="turn-evening-option" value="turn-evening">
                </form>
                <p><button class="button-style button-less" type="button" name="less-student-submit"><a href="#">Submint</a></button></p>
              </div></li>
            </ul>
          </li>
        </ul>
      </nav>
      <nav id="student-list"><!-- cambia id por clase -->
        <select id="generation" class="generation" name="generation-option">
          <option data-city="CDMX" data-classyear="2017-1" value="first-generation">Generation 2017-I</option>
          <option data-city="CDMX" data-classyear="2017-2" value="second-generation">Generacion 2017-II</option>
        </select>
        <section id="students-info">
          <div class="box-student-info box-student-info-style">
            <div class="student-photto student-photo-style">
            </div>
            <div class="averange-style">
              <p class="average-tech-skills">k</p>
              <p class="text-average">TECH SKILLS</p>
            </div>
            <div class="averange-style">
              <p class="average-life-skills">k</p>
              <p class="text-average">LIFE SKILLS</p>
            </div>
            <div class="averange-style">
              <p class="specialization">h</p>
              <p class="text-average">SPEC IALIZAT</p>
            </div>
            <div class="student-info student-info-style">
              <p class="name-student"></p>
              <p class="active"></p>
            </div>
              <select class="sprints" name="sprints-number">
                <option value="sprint-one">Sprint 1 Common core</option>
                <option value="sprint-one">Sprint 2 Common core</option>
                <option value="sprint-one">Sprint 3 Common core</option>
                <option value="sprint-one">Sprint 4 Common core</option>
                <option value="sprint-one">Sprint 5 Specialization</option>
                <option value="sprint-one">Sprint 6 Specialization</option>
                <option value="sprint-one">Sprint 7 Specialization</option>
                <option value="sprint-one">Sprint 8 Specialization</option>
              </select>
          </div>
        </section>
      </nav>
  </body>
  <script type="text/javascript" src="appcdmx.js"></script>
  <script type="text/javascript" src="data.js"></script>
</html>
