<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Students CD.MX. Laboratoria</title>
    <link rel="stylesheet" href="C:\Users\Invitado Laboratoria\Documents\Laboratoria\Producto_Final_2do_Sprint_LaboratoriaDataDasboard\VIEWS\students-cdmx\main.css">
  </head>
  <body>
    <nav id="navegation-local">
      <ul class="menu-left">
        <li class="li-left logo-laboratoria"><a href="C:\Users\Invitado Laboratoria\Documents\Laboratoria\Producto_Final_2do_Sprint_LaboratoriaDataDasboard\index.html"><img class="logo-laboratoria" src="C:\Users\Invitado Laboratoria\Documents\Laboratoria\Producto_Final_2do_Sprint_LaboratoriaDataDasboard\ASSETS\IMAGES\logoLab.png" alt="Logo Laboratoria"></a></li>
        <li class="li-left form-search-student"><form class="li-left" action="index.html" method="post"><input class="search-student" type="search" name="by-student" placeholder="Search Student"></form>
          <ul class="li-left one-by-one-student">
            <li class="li-left search-one-student"><a href="#"><img src="http://dummyimage.com/30x30" alt="Search"></a></li>
        </li>
        <li class="li-left separator"> | </li>
        <li class="li-left search-by-cede"><a href="#"><img src="http://dummyimage.com/30x30" alt="More"></a>
          <ul class="search-student-cede">
            <li class="students-cede-cdmx"><a href="C:\Users\Invitado Laboratoria\Documents\Laboratoria\Producto_Final_2do_Sprint_LaboratoriaDataDasboard\VIEWS\students-cdmx\studentscdmx.html">CDMX</a></li>
            <li class="students-cede-gdj"><a href="C:\Users\Invitado Laboratoria\Documents\Laboratoria\Producto_Final_2do_Sprint_LaboratoriaDataDasboard\VIEWS\students-gdj\student-gdj.html">GDJ</a></li>
            <li class="students-cede-lima"><a href="C:\Users\Invitado Laboratoria\Documents\Laboratoria\Producto_Final_2do_Sprint_LaboratoriaDataDasboard\VIEWS\students-lima\students-lima.html">LIMA</a></li>
            <li class="students-cede-arequipa"><a href="C:\Users\Invitado Laboratoria\Documents\Laboratoria\Producto_Final_2do_Sprint_LaboratoriaDataDasboard\VIEWS\students-arequipa\students-arequipa.html">AREQUIPA</a></li>
            <li class="students-cede-santiago"><a href="C:\Users\Invitado Laboratoria\Documents\Laboratoria\Producto_Final_2do_Sprint_LaboratoriaDataDasboard\VIEWS\students-santiago\students-santiago.html">SANTIAGO</a></li>
          </ul>
        </li>
      </ul>
      </nav>
      <nav id="navegation-local">
        <ul class="menu-right">
          <li class="li-right user"><div class="photo-user"><a href="#"><img src="C:\Users\Invitado Laboratoria\Documents\Laboratoria\Producto_Final_2do_Sprint_LaboratoriaDataDasboard\ASSETS\IMAGES\usuario-prueba.jpg" alt="user-photo"></a></div>
          <ul class="user-open-close-session">
            <li><a href="#">Login</a></li>
            <li><a href="#">Close Session</a></li>
          </ul></li>
          <li class="li-right separator">|</li>
          <li class="li-right separator">|</li>
          <li class="li-right less-student"><a href="#"><img src="http://dummyimage.com/30x30" alt="-Student"></a>
            <ul class="less-student-option">
              <li class="input-add-student-style"><div class="box-less-student">
                <form class="less-student-input" action="index.html" method="post">
                <input class="input-style-name" type="text" name="name-student-less" placeholder="Name Student">
                <label for="add-cdmx">CD.MX.</label>
                <input type="radio" name="add" value="add-to-cdmx">
                <span class="separator">|</span>
                <label for="add-gdj">Guadalajara</label>
                <input type="radio" name="add" value="add-to-gsj">
                <span class="separator">|</span>
                <label for="add-lima">Lima</label>
                <input type="radio" name="add" value="add-to-lima">
                <span class="separator">|</span>
                <label for="add-arequipa">Arequipa</label>
                <input type="radio" name="add" value="add-to-arequipa">
                <span class="separator">|</span>
                <label for="add-santiago">Santiago</label>
                <input type="radio" name="add" value="add-to-santiago">
                <hr>
                <label for="turn-morning">Morning</label>
                <input type="radio" name="turn-morning-option" value="turn-morning">
                <samp class="separator">|</samp>
                <label for="turn-evening">Evening/label>
                <input type="radio" name="turn-evening-option" value="turn-evening">
                </form>
                <p><button class="button-style button-less" type="button" name="less-student-submit"><a href="#">Submint</a></button></p>
              </div></li>
            </ul>
          </li>
        </ul>
      </nav>
  </body>
</html>
